<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">

<!-- 사용자 스크립트 추가 -->
<th:block layout:fragment="script">
    <script th:inline="javascript">

        $(document).ready(function(){
            $("#searchBtn").on("click",function(e) {
                e.preventDefault();
                page(0);
            });
        });

        function page(page){
            var searchDateType = $("#searchDateType").val();
            var searchBy = $("#searchBy").val();
            var searchQuery = $("#searchQuery").val();

            location.href="/reviews/" + page
                + "?searchDateType=" + searchDateType
                + "&searchBy=" + searchBy
                + "&searchQuery=" + searchQuery;
        }

    </script>
</th:block>

<!-- 사용자 CSS 추가 -->
<th:block layout:fragment="css">
    <style>
        select{
            margin-right:10px;
        }
    </style>
</th:block>

<div layout:fragment="content">

    <form th:action="@{'/reviews/' + ${reviews.number}}" role="form" method="get" th:object="${reviews}">
        <table class="table">
            <thead>
            <tr>
                <td>리뷰 번호</td>
                <td>리뷰 내용</td>
                <td>등록일</td>
                <td>리뷰 관리</td>
            </tr>
            </thead>
            <tbody>
            <tr th:each="review, status: ${reviews.getContent()}">
                <td th:text="${review.id}"></td>

                <td>
                    <a th:href="'/item/'+ ${review.item.id}" th:text="${review.contents}"></a>
                </td>

                <td th:text="${#temporals.format(review.regTime, 'yyyy-MM-dd HH:mm')}"></td>

                <td>
                    <a th:href="'/reviews/delete/'+ ${review.id}" th:text="삭제"></a>
                </td>
            </tr>
            </tbody>
        </table>

        <div th:with="start=${(reviews.number/maxPage)*maxPage + 1}, end=(${(reviews.totalPages == 0) ? 1 : (start + (maxPage - 1) < reviews.totalPages ? start + (maxPage - 1) : reviews.totalPages)})" >
            <ul class="pagination justify-content-center">

                <li class="page-item" th:classappend="${reviews.first}?'disabled'">
                    <a th:onclick="'javascript:page(' + ${reviews.number - 1} + ')'" aria-label='Previous' class="page-link">
                        <span aria-hidden='true'>Previous</span>
                    </a>
                </li>

                <li class="page-item" th:each="page: ${#numbers.sequence(start, end)}" th:classappend="${reviews.number eq page-1}?'active':''">
                    <a th:onclick="'javascript:page(' + ${page - 1} + ')'" th:inline="text" class="page-link">[[${page}]]</a>
                </li>

                <li class="page-item" th:classappend="${reviews.last}?'disabled'">
                    <a th:onclick="'javascript:page(' + ${reviews.number + 1} + ')'" aria-label='Next' class="page-link">
                        <span aria-hidden='true'>Next</span>
                    </a>
                </li>

            </ul>
        </div>

        <div class="form-inline justify-content-center" th:object="${reviewSearchDto}">
            <select th:field="*{searchDateType}" class="form-control" style="width:auto;">
                <option value="all">전체기간</option>
                <option value="1d">1일</option>
                <option value="1w">1주</option>
                <option value="1m">1개월</option>
                <option value="6m">6개월</option>
            </select>
            <select th:field="*{searchBy}" class="form-control" style="width:auto;">
                <option value="contents">내용</option>
            </select>
            <input th:field="*{searchQuery}" type="text" class="form-control" placeholder="검색어를 입력해주세요">
            <button id="searchBtn" type="submit" class="btn btn-primary">검색</button>
        </div>
    </form>

</div>

</html>