<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">

<head>
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>

</head>

<!-- 사용자 스크립트 추가 -->
<th:block layout:fragment="script">
    <script src="https://js.tosspayments.com/v1"></script>
    <script th:inline="javascript">
        const orderId = /*[[ ${order.orderId} ]]*/ null;
        const customerName = /*[[ ${order.customerName} ]]*/ null;
        const orderName = /*[[ ${order.orderName} ]]*/ null;
        const totalPrice = /*[[ ${order.totalPrice} ]]*/ null;
    </script>

    <script>
        const tossPayments = TossPayments('test_ck_P24xLea5zVAdZojP0zy3QAMYNwW6');

        function payment() {
            const method = '카드'; // "카드" 혹은 "가상계좌"

            const paymentData = {
                amount: totalPrice,
                orderId: "order__" + orderId + "__" + (Math.random() + "").substring(2), // orderId는 6자 이상이여야 함
                orderName: orderName,
                customerName: customerName,
                successUrl: 'http://localhost:8080/success',
                failUrl: 'http://localhost:8080/fail',
            };

            tossPayments.requestPayment(method, paymentData);
        }
    </script>

</th:block>

<!-- 사용자 CSS 추가 -->
<th:block layout:fragment="css">
    <style>
        .content-mg{
            margin-left:25%;
            margin-right:25%;
            margin-top:2%;
            margin-bottom:100px;
        }
        .repImgDiv{
            margin-right:15px;
            margin-left:15px;
            height:auto;
        }
        .repImg{
            height:100px;
            width:100px;
        }
        .fs18{
            font-size:18px
        }
        .fs24{
            font-size:24px
        }
    </style>
</th:block>

<div layout:fragment="content" class="content-mg">

    <h2 class="mb-4">
        주문 상세
    </h2>

    <h3 class="mb-4" th:text="${'주문명 : ' + order.getOrderName()}">
    </h3>

            <div class="card d-flex">
                <div th:each="orderItem : ${order.getOrderItemDtlDtos()}" class="d-flex mb-3">
                    <div class="repImgDiv">
                        <img th:src="${orderItem.imgUrl}" class = "rounded repImg" th:alt="${orderItem.itemNm}">
                    </div>
                    <div class="align-self-center w-75">
                        <span th:text="${'상품 이름 : ' + orderItem.itemNm}" class="fs24 font-weight-bold"></span>
                        <div class="fs18 font-weight-light">
                            <span th:text="${orderItem.orderPrice} +'원'"></span>
                            <span th:text="${orderItem.count} +'개'"></span><br>
                            <span th:text="${'주문 번호 : ' + order.getOrderId() + '번'}"></span>
                        </div>
                    </div>
            </div>
        </div>

        <h2 class="text-center">
            총 주문 금액 : <span class="text-danger" th:text="${order.getTotalPrice() + '원'}">0원</span>
        </h2>

        <div class="text-center mt-3">
            <button type="button" class="btn btn-primary btn-lg" onclick="payment()">주문하기</button>
        </div>

</div>

</html>