<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">

<!-- 사용자 스크립트 추가 -->
<th:block layout:fragment="script">
    <script th:inline="javascript">

        $(document).ready(function(){
            $("#searchBtn").on("click",function(e) {
                e.preventDefault();
                page(0);
            });
        });

        function page(page){
            var searchDateType = $("#searchDateType").val();
            var searchRole = $("#searchRole").val();
            var searchBy = $("#searchBy").val();
            var searchQuery = $("#searchQuery").val();

            location.href="/admin/member/" + page + "?searchDateType=" + searchDateType
            + "&searchRole=" + searchRole
            + "&searchBy=" + searchBy
            + "&searchQuery=" + searchQuery;
        }

    </script>
</th:block>

<!-- 사용자 CSS 추가 -->
<th:block layout:fragment="css">
    <style>
        select{
            margin-right:10px;
        }
    </style>
</th:block>

<div layout:fragment="content">

    <form th:action="@{'/admin/member/' + ${members.number}}" role="form" method="get" th:object="${members}">
        <table class="table">
            <thead>
            <tr>
                <td>고객 회원번호</td>
                <td>이름</td>
                <td>이메일</td>
                <td>등급</td>
                <td>등급 변경</td>
                <td>가입일자</td>
                <td>주소</td>
            </tr>
            </thead>
            <tbody>
            <tr th:each="member, status: ${members.getContent()}">
                <td th:text="${member.id}"></td>
                <td>
                    <span th:text="${member.name}"></span>
                </td>
                <td>
                    <span th:text="${member.email}"></span>
                </td>

                <td th:switch="${member.role}">
                    <span th:case="${T(com.shop.farmers.boundedContext.member.constant.Role).USER}">일반 회원</span>
                    <span th:case="${T(com.shop.farmers.boundedContext.member.constant.Role).VENDOR}">판매자</span>
                    <span th:case="${T(com.shop.farmers.boundedContext.member.constant.Role).ADMIN}">관리자</span>
                </td>
                <td>
                    <select class="form-control" style="width:auto;">
                        <option value="USER">일반 회원</option>
                        <option value="VENDOR">판매자</option>
                        <option value="ADMIN">관리자</option>
                    </select>
<!--                    <button type="button" class="btn btn-outline-secondary" th:onclick="@{'/admin/member/update/' + ${memberFormDto.id}">등급 변경</button>-->
                </td>
                <td th:text="${#strings.substring(member.regTime, 0, 19)}"></td>
                <td th:text="${member.address}"></td>
            </tr>
            </tbody>
        </table>

        <div th:with="start=${(members.number/maxPage)*maxPage + 1}, end=(${(members.totalPages == 0) ? 1 : (start + (maxPage - 1) < members.totalPages ? start + (maxPage - 1) : members.totalPages)})" >
            <ul class="pagination justify-content-center">

                <li class="page-item" th:classappend="${members.first}?'disabled'">
                    <a th:onclick="'javascript:page(' + ${members.number - 1} + ')'" aria-label='Previous' class="page-link">
                        <span aria-hidden='true'>Previous</span>
                    </a>
                </li>

                <li class="page-item" th:each="page: ${#numbers.sequence(start, end)}" th:classappend="${members.number eq page-1}?'active':''">
                    <a th:onclick="'javascript:page(' + ${page - 1} + ')'" th:inline="text" class="page-link">[[${page}]]</a>
                </li>

                <li class="page-item" th:classappend="${members.last}?'disabled'">
                    <a th:onclick="'javascript:page(' + ${members.number + 1} + ')'" aria-label='Next' class="page-link">
                        <span aria-hidden='true'>Next</span>
                    </a>
                </li>

            </ul>
        </div>

        <div class="form-inline justify-content-center" th:object="${memberSearchDto}">
            <select th:field="*{searchDateType}" class="form-control" style="width:auto;">
                <option value="all">전체기간</option>
                <option value="1d">1일</option>
                <option value="1w">1주</option>
                <option value="1m">1개월</option>
                <option value="6m">6개월</option>
            </select>
            <select th:field="*{searchRole}" class="form-control" style="width:auto;">
                <option value="">회원등급(전체)</option>
                <option value="USER">일반 회원</option>
                <option value="VENDOR">판매자</option>
                <option value="ADMIN">관리자</option>
            </select>
            <select th:field="*{searchBy}" class="form-control" style="width:auto;">
                <option value="name">이름</option>
                <option value="email">이메일</option>
            </select>
            <input th:field="*{searchQuery}" type="text" class="form-control" placeholder="검색어를 입력해주세요">
            <button id="searchBtn" type="submit" class="btn btn-primary">검색</button>
        </div>
    </form>

</div>

</html>