<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">

<head>
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
</head>

<!-- 사용자 스크립트 추가 -->
<th:block layout:fragment="script">

    <script th:inline="javascript">

        $(document).ready(function(){
            $("input[name=cartChkBox]").change( function(){
                getOrderTotalPrice();
            });
        });

        function getOrderTotalPrice(){
            var orderTotalPrice = 0;
            $("input[name=cartChkBox]:checked").each(function() {
                var cartItemId = $(this).val();
                var price = $("#price_" + cartItemId).attr("data-price");
                var count = $("#count_" + cartItemId).val();
                orderTotalPrice += price*count;
            });

            $("#orderTotalPrice").html(orderTotalPrice+'원');
        }

        function changeCount(obj){
            var count = obj.value;
            var cartItemId = obj.id.split('_')[1];
            var price = $("#price_" + cartItemId).data("price");
            var totalPrice = count*price;
            $("#totalPrice_" + cartItemId).html(totalPrice+"원");
            getOrderTotalPrice();
            updateCartItemCount(cartItemId, count);
        }

        function checkAll(){
            if($("#checkall").prop("checked")){
                $("input[name=cartChkBox]").prop("checked",true);
            }else{
                $("input[name=cartChkBox]").prop("checked",false);
            }
            getOrderTotalPrice();
        }

        // 장바구니 페이지가 처음 로딩 되었을 때 모든 체크박스가 체크 되어 있도록 하기 위한 코드
        window.addEventListener('DOMContentLoaded', (event) => { // DOMContentLoaded 이벤트를 기다리고 이벤트가 발생하면 체크박스의 상태를 변경
            // DOM이 로드될 때 실행되는 코드
            document.getElementById('checkall').click();
            getCheckedCnt();
            getAllItemCount();
            getOrderTotalPrice();
        });

        function getCheckedCnt() {
            // 선택된 목록 가져오기
            const query = 'input[name="cartChkBox"]:checked';
            const selectedElements =
                document.querySelectorAll(query);

            // 선택된 목록의 갯수 세기
            const selectedElementsCnt =
                selectedElements.length;

            // 출력
            document.getElementById('result').innerText
                = selectedElementsCnt;
        }

        function getAllItemCount() {
            const query = 'input[name="cartChkBox"]:checked';
            const selectedElements =
                document.querySelectorAll(query);

            // 선택된 목록의 갯수 세기
            const selectedElementsCnt =
                selectedElements.length;

            // 출력
            document.getElementById('totalItemCnt').innerText
                = selectedElementsCnt;
        }


        function updateCartItemCount(cartItemId, count){
            var token = $("meta[name='_csrf']").attr("content");
            var header = $("meta[name='_csrf_header']").attr("content");

            var url = "/cartItem/" + cartItemId+"?count=" + count;

            $.ajax({
                url      : url,
                type     : "PATCH",
                beforeSend : function(xhr){
                    /* 데이터를 전송하기 전에 헤더에 csrf값을 설정 */
                    xhr.setRequestHeader(header, token);
                },
                dataType : "json",
                cache   : false,
                success  : function(result, status){
                    console.log("cartItem count update success");
                },
                error : function(jqXHR, status, error){

                    if(jqXHR.status == '401'){
                        alert('로그인 후 이용해주세요');
                        location.href='/members/login';
                    } else{
                        alert(jqXHR.responseJSON.message);
                    }

                }
            });
        }

        function deleteCartItem(obj){
            var cartItemId = obj.dataset.id;
            var token = $("meta[name='_csrf']").attr("content");
            var header = $("meta[name='_csrf_header']").attr("content");

            var url = "/cartItem/" + cartItemId;

            $.ajax({
                url      : url,
                type     : "DELETE",
                beforeSend : function(xhr){
                    /* 데이터를 전송하기 전에 헤더에 csrf값을 설정 */
                    xhr.setRequestHeader(header, token);
                },
                dataType : "json",
                cache   : false,
                success  : function(result, status){
                    location.href='/cart';
                },
                error : function(jqXHR, status, error){

                    if(jqXHR.status == '401'){
                        alert('로그인 후 이용해주세요');
                        location.href='/members/login';
                    } else{
                        alert(jqXHR.responseJSON.message);
                    }

                }
            });
        }

        function orders(){
            var token = $("meta[name='_csrf']").attr("content");
            var header = $("meta[name='_csrf_header']").attr("content");

            var url = "/cart/orders";

            var dataList = new Array();
            var paramData = new Object();

            $("input[name=cartChkBox]:checked").each(function() {
                var cartItemId = $(this).val();
                var data = new Object();
                data["cartItemId"] = cartItemId;
                dataList.push(data);
            });

            paramData['cartOrderDtoList'] = dataList;

            var param = JSON.stringify(paramData);

            $.ajax({
                url      : url,
                type     : "POST",
                contentType : "application/json",
                data     : param,
                beforeSend : function(xhr){
                    /* 데이터를 전송하기 전에 헤더에 csrf값을 설정 */
                    xhr.setRequestHeader(header, token);
                },
                dataType : "json",
                cache   : false,
                success  : function(result, status){
                    location.href = '/order/' + result;
                },
                error : function(jqXHR, status, error){

                    if(jqXHR.status == '401'){
                        alert('로그인 후 이용해주세요');
                        location.href='/members/login';
                    } else{
                        alert(jqXHR.responseJSON.message);
                    }

                }
            });
        }

    </script>

</th:block>

<!-- 사용자 CSS 추가 -->
<th:block layout:fragment="css">
    <style>
        .repImg{
            height:100px;
            width:100px;
        }
    </style>
</th:block>

<div layout:fragment="content" class="content">

    <div class="name-box flex flex-row justify-center">
        <h2 class="mb-4">
            장바구니 목록 (
        </h2>
        <div id='result'></div>/
        <div id="totalItemCnt"></div>)
    </div>

    <div class="cart-list-box flex-col">

        <table class="table">
            <thead>
            <tr class="text-center">
                <td>
                    <div class="form-control">
                        <label class="cursor-pointer label">
                            <input type="checkbox" class="checkbox checkbox-accent" id="checkall" onclick="checkAll(); getCheckedCnt()"/>전체선택
                        </label>
                    </div>
                </td>
                <td>상품정보</td>
            </tr>
            </thead>
            <tbody>
            <tr th:each="cartItem : ${cartItems}">
                <td class="text-center align-middle">
                    <div class="form-control">
                        <label class="cursor-pointer label">
                            <input type="checkbox" class="checkbox checkbox-accent" name="cartChkBox" th:value="${cartItem.cartItemId}" onclick='getCheckedCnt();' />
                        </label>
                    </div>
                </td>
                <td class="flex justify-evenly shrink">
                    <!--썸네일-->
                    <div class="rep-img-box shrink">
                        <img class="rounded-md repImg" th:src="${cartItem.imgUrl}" th:alt="${cartItem.itemNm}">
                    </div>
                    <!--상품 이름-->
                    <div class="shrink flex items-center ">
                        <span th:text="${cartItem.itemNm}" class="font-bold flex shrink">하하</span>
                    </div>
                    <!--가격&장바구니상품갯수-->
                    <div class="shrink flex ">
                        <div class="input-group mt-2 flex items-center justify-evenly">
                            <div th:id="'price_' + ${cartItem.cartItemId}" th:data-price="${cartItem.price}" th:text="${cartItem.price} + '원'" class="flex items-center">호호
                            </div>
                            <div class="flex items-center mx-3">
                                <input type="number" name="count" th:id="'count_' + ${cartItem.cartItemId}" th:value="${cartItem.count}" min="1" onchange="changeCount(this)">
                            </div>

                            <button type="button" class="close" aria-label="Close">
                                <div aria-hidden="true" th:data-id="${cartItem.cartItemId}" onclick="deleteCartItem(this)">&times;</div>
                            </button>
                        </div>
                    </div>
                    <!--장바구니상품갯수 총 가격-->
                    <div class="cart-item-amount flex ">
            <span class="flex shrink items-center" th:id="'totalPrice_' + ${cartItem.cartItemId}"
                  name="totalPrice" th:text="${cartItem.price * cartItem.count} + '원'">
            </span>
                    </div>

                </td>
            </tr>
            </tbody>
        </table>

        <div class="result-box ">
            <h2 class="text-center">
                총 주문 금액 : <span id="orderTotalPrice" class="text-danger">0원</span>
            </h2>

            <div class="text-center mt-3">
                <button type="button" class="btn btn-success btn-lg" onclick="orders()">주문하기</button>
            </div>
        </div>


    </div>

</div>

</html>